<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MadirBaps</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginAdminController</display-name>
    <servlet-name>LoginAdminController</servlet-name>
    <servlet-class>controller.LoginAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdminController</servlet-name>
    <url-pattern>/LoginAdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeHeroImageController</display-name>
    <servlet-name>ChangeHeroImageController</servlet-name>
    <servlet-class>controller.ChangeHeroImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeHeroImageController</servlet-name>
    <url-pattern>/ChangeHeroImageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadHeroImage</display-name>
    <servlet-name>UploadHeroImage</servlet-name>
    <servlet-class>controller.UploadHeroImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadHeroImage</servlet-name>
    <url-pattern>/UploadHeroImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeTrusteeImageController</display-name>
    <servlet-name>ChangeTrusteeImageController</servlet-name>
    <servlet-class>controller.ChangeTrusteeImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeTrusteeImageController</servlet-name>
    <url-pattern>/ChangeTrusteeImageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadTrusteeImage</display-name>
    <servlet-name>UploadTrusteeImage</servlet-name>
    <servlet-class>controller.UploadTrusteeImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadTrusteeImage</servlet-name>
    <url-pattern>/UploadTrusteeImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePhotoGalleryController</display-name>
    <servlet-name>ChangePhotoGalleryController</servlet-name>
    <servlet-class>controller.ChangePhotoGalleryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePhotoGalleryController</servlet-name>
    <url-pattern>/ChangePhotoGalleryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadGalleryImage</display-name>
    <servlet-name>UploadGalleryImage</servlet-name>
    <servlet-class>controller.UploadGalleryImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadGalleryImage</servlet-name>
    <url-pattern>/UploadGalleryImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendEmailController</display-name>
    <servlet-name>SendEmailController</servlet-name>
    <servlet-class>controller.SendEmailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendEmailController</servlet-name>
    <url-pattern>/SendEmailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LiveDarshanController</display-name>
    <servlet-name>LiveDarshanController</servlet-name>
    <servlet-class>controller.LiveDarshanController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LiveDarshanController</servlet-name>
    <url-pattern>/LiveDarshanController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeGalleryHeaderController</display-name>
    <servlet-name>ChangeGalleryHeaderController</servlet-name>
    <servlet-class>controller.ChangeGalleryHeaderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeGalleryHeaderController</servlet-name>
    <url-pattern>/ChangeGalleryHeaderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadHeader</display-name>
    <servlet-name>UploadHeader</servlet-name>
    <servlet-class>controller.UploadHeader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadHeader</servlet-name>
    <url-pattern>/UploadHeader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeTrusteeNameController</display-name>
    <servlet-name>ChangeTrusteeNameController</servlet-name>
    <servlet-class>controller.ChangeTrusteeNameController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeTrusteeNameController</servlet-name>
    <url-pattern>/ChangeTrusteeNameController</url-pattern>
  </servlet-mapping>
</web-app>